<ion-view title="File">
	<ion-content padding="true">
        <div class="padding">
            <button class="button button-block button-positive" ng-click="checkdir()">
                checkdir
            </button>
             <button class="button button-block button-positive" ng-click="checkFile()">
                 checkFile
            </button>
             <button class="button button-block button-positive" ng-click="createDir()">
                 createDir
            </button>
             <button class="button button-block button-positive" ng-click="createFile()">
                 createFile
            </button>
             <button class="button button-block button-positive" ng-click="removeDir()">
                 removeDir
            </button>
             <button class="button button-block button-positive" ng-click="removeFile()">
                 removeFile
            </button>
             <button class="button button-block button-positive" ng-click="removeRecursively()">
                 removeRecursively
            </button>
             <button class="button button-block button-positive" ng-click="writeFile()">
                 writeFile
            </button>
             <button class="button button-block button-positive" ng-click="writeExistingFile()">
                 writeExistingFile
            </button>
             <button class="button button-block button-positive" ng-click="readAsText()">
                 readAsText
            </button>
             <button class="button button-block button-positive" ng-click="moveDir()">
                 moveDir
            </button>
          <button class="button button-block button-positive" ng-click="moveFile()">
              moveFile
            </button>
          <button class="button button-block button-positive" ng-click="copyDir()">
              copyDir
            </button>
          <button class="button button-block button-positive" ng-click="copyFile()">
              copyFile
            </button>



        </div>
	</ion-content>
</ion-view>
