<ion-view title="Badge微章/通知栏图标">
    <ion-content scroll="true" padding="true">
        <button ng-click="hasPermission()" class="button button-block button-positive">hasPermission 检查权限</button>

        <button ng-click="clearBadge()" class="button button-block button-positive">clearBdge</button>
        <button ng-click="setBadge(100)" class="button button-block button-positive">setBadge</button>
        <button ng-click="getBadge()" class="button button-block button-positive">getBadge</button>
        <button ng-click="promptForPermission()" class="button button-block button-positive">promptForPermission
        </button>
        <button ng-click="switchAutoClear()" class="button button-block button-positive">switchAutoClear</button>
        <button ng-click="changeTitles()" class="button button-block button-positive">changeTitle</button>


    </ion-content>
</ion-view>
