<ion-view title="Calendar">
    <ion-content scroll="true" padding="true">
        <button ng-click="openCalendar()" class="button button-full button-balanced">openCalendar</button>

        <button ng-click="createCalendar()" class="button button-block button-positive">createCalendar仅支持IOS</button>
        <button ng-click="deleteCalendar()" class="button button-block button-positive">deleteCalendar仅支持IOS</button>
        <button ng-click="createEvent()" class="button button-block button-positive">createEvent</button>
        <button ng-click="createEventWithOptions()" class="button button-block button-positive">createEventWithOptions
        </button>

        <button ng-click="createEventInteractively()" class="button button-block button-positive">
            createEventInteractively
        </button>
        <button ng-click="createEventInNamedCalendar()" class="button button-block button-positive">
            createEventInNamedCalendar仅支持IOS
        </button>
        <button ng-click="findEvent()" class="button button-block button-positive">findEvent</button>
        <button ng-click="listEventsInRange()" class="button button-block button-positive">listEventsInRange</button>


        <button ng-click="listCalendars()" class="button button-block button-positive">listCalendars</button>
        <button ng-click="findAllEventsInNamedCalendar()" class="button button-block button-positive">
            findAllEventsInNamedCalendar
        </button>
        <button ng-click="modifyEvent()" class="button button-block button-positive">modifyEvent 仅支持IOS</button>
        <button ng-click="deleteEvent()" class="button button-block button-positive">deleteEvent</button>


    </ion-content>
</ion-view>
