<ion-view title="Date picker">
	<ion-content>

		<div class="list">

			<div class="item">
                <i class="icon ion-clock"></i> {{todo_date | date:"MM月dd日"}} <i class="icon">
				 <br>

				<button class="button button-block button-positive"
					ng-click="pickdate()">pick date</button>
			</div>

			<div class="item">
                <i class="icon ion-clock"></i> {{todo_date | date:"HH点mm分ss秒"}} <i class="icon">
				 <br>

				<button class="button button-block button-positive"
					ng-click="picktime()">pick time</button>

			</div>

		</div>

	</ion-content>
</ion-view>
