<ion-view title="progress进度条">
	<ion-content padding="true">
    <div class="card">


            <div class="item button-bar">
                <a class="button  button-positive " ng-click="showSimple()">showSimple()</a>

                <a class="button button-balanced   " ng-click="unshowSimple()">hide 隐藏</a>
        </div>

               <div class="item button-bar">
                <a class="button  button-positive " ng-click="showSimpleWithLabel()">showSimpleWithLabel(true, "Loading")</a>

                <a class="button button-balanced   " ng-click="unshowSimple()">hide 隐藏()</a>
        </div>

               <div class="item button-bar">
                <a class="button  button-positive " ng-click="showSimpleWithLabelDetail()">showSimpleWithLabelDetail(true, "Loading", "detail")</a>

                <a class="button button-balanced   " ng-click="unshowSimple()">hide 隐藏</a>
        </div>

               <div class="item button-bar">
                <a class="button  button-positive " ng-click="showDeterminate()">showDeterminate(false, 100000)</a>

                <a class="button button-balanced   " ng-click="unshowSimple()">hide 隐藏</a>
        </div>

               <div class="item button-bar">
                <a class="button  button-positive " ng-click="showDeterminateWithLabel()">showDeterminateWithLabel(true, 50000, "Loading")</a>

                <a class="button button-balanced   " ng-click="unshowSimple()">hide 隐藏</a>
        </div>
          <div class="item button-bar">
                <a class="button  button-positive " ng-click="showAnnular()">   showAnnular(true, 50000)</a>

                <a class="button button-balanced   " ng-click="unshowSimple()">hide 隐藏</a>
        </div>
          <div class="item button-bar">
                <a class="button  button-positive " ng-click="showAnnularWithLabel()">showAnnularWithLabel(false, 100000, "Loading")</a>

                <a class="button button-balanced   " ng-click="unshowSimple()">hide 隐藏</a>
        </div>
          <div class="item button-bar">
                <a class="button  button-positive " ng-click="showBar()"> showBar(true, 50000)e</a>

                <a class="button button-balanced   " ng-click="unshowSimple()">hide 隐藏</a>
        </div>
          <div class="item button-bar">
                <a class="button  button-positive " ng-click="showBarWithLabel()"> showBarWithLabel(false, 100000, "Loading")</a>

                <a class="button button-balanced   " ng-click="unshowSimple()">hide 隐藏</a>
        </div>
          <div class="item button-bar">
                <a class="button  button-positive " ng-click="showSuccess()"> showSuccess(true, "Success!")</a>

                <a class="button button-balanced   " ng-click="unshowSimple()">hide 隐藏</a>
        </div>
    <div class="item button-bar">
                <a class="button  button-positive " ng-click="showText()">  showText(false, 100000, "Loading")</a>

                <a class="button button-balanced   " ng-click="unshowSimple()">hide 隐藏</a>
        </div>




    </div>



	</ion-content>
</ion-view>
